@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .5);
    background-color: rgba(80, 248, 221, 0.8);
}
.navbar .navbar-brand{
    color:black ;
    font-size:25px;
    font-weight: 800;
}
#navbarSupportedContent a{
    color:black ;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 2px 2px;
}
#navbarSupportedContent a:hover{
    border: 1.5px solid black;
}
#navbarSupportedContent button{
    color: whitesmoke;
    background-color: black;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
section{
    width: 100%;
    height: auto;
}

/*********************************************Home**************************************************************/

#home{
    background: linear-gradient(rgba(48, 145, 129, 0.3),rgba(48, 145, 129, 0.3));
    background-image: url(../Sample_Website/images/Bg-Pic2.jpg);
    background-size: contain;
    background-position:center;
    align-items:baseline;
    display: inline-block;
    padding-top: 75px;
    height: 100vh;
}
#home h1{
    display: flex;
    justify-content: center;
    color:ghostwhite;
    padding-top: 20px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 0px #CCC,
                0px 2px 0px #CCC,
                0px 3px 0px #CCC;
}
.dialogue{
    display: flex;
    justify-content: center;
    color: ghostwhite;
    letter-spacing: 1px;
    font-size: 1em;
}
#home .input-group{
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 350px;
    min-width: 50px;
    margin: auto;
    padding-top: 10px ;
}
.signin{
    background: rgba(80, 248, 221, 0.8) !important;
    box-shadow: 2px 4px 5px rgba(48, 145, 129, 0.3);
}

/*********************************************Menu********************************************************/
#Menu .row1{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    height: 130px;
}
.row1 h1{
    border-bottom: 0px hidden black;
    transition-property: border-bottom;
    transition-duration: 0.1s;
}
.row1 h1:hover{
    border-bottom: 5px solid rgb(69, 66, 59);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;

}
#menu .card{
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
    height: fit-content;
    width: fit-content;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
#Menu-img{
    margin: auto;
    margin-top: 5px;
    width: 200px;
    height: 200px;
}
.card-title{
    display: flex;
    justify-content: center;
}

/*******************************************Tea/Coffee**********************************************/

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(80, 248, 221, 0.8);
    letter-spacing: 0.75px;
}
#Tea_Coffee span{
    float: right;
    padding-right: 40px;
}
#Tea_Coffee a{
    padding-left: 40px;
    font-size: 20px;
}
/*******************************************Snacks******************************************************/

.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(80, 248, 221, 0.8);
    letter-spacing: 0.75px;
}
.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.75px;
    background-color:#282626;
    color: white;
}
#snacks-veg span{
    float: right;
    padding-right: 40px;
}
#snacks-veg a{
    padding-left: 40px;
    font-size: 20px;
}

/*******************************************Juices******************************************************/

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(80, 248, 221, 0.8);
    letter-spacing: 0.75px;
}
#juice span{
    float: right;
    padding-right: 40px;
}
#juice a{
    padding-left: 40px;
    font-size: 20px;
}

/*********************************************Contact**************************************************/
#contact{
    width: 100%;
    background-color: #282626;
}
#contact .container{
    color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}
#contact .row1{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}
#contact .row2{
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.75px;
    margin-bottom: 30px;
}
#contact #contact-img{
    width: 440px;
    height: 80vh;
    border-radius: 20px;
}
#contact input[type=text],textarea{
    width: 100%;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
#contact label{
    padding-top: 5px;
}
#contact .col #submit{
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    background-color: rgba(80, 248, 221, 0.8);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

